<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% for( let index = 0; index < all.length; index++ ) { %>
    <h1><%= all[index].title %></h1>
    <br />
    <% } %>
  </body>
</html>
